body{
  background-color: #222;
  font-family: 'Roboto' , sans-serif;
  color: white;
}

/*------------------------Posts------------------------------*/

section.posts{
  overflow: hidden;
  display: inline-block;
}
.new-post h3{
  font-size: 1.5em;
  color: white;
}

.new-post{
  padding: 15px 0;
  border-bottom: 1px solid cyan;
}
.new-post header,
.posts header {
  margin-bottom: 25px;

}

.posts article.post{
  padding-left: 10px;
  border-left: 3px solid cyan;
  margin-bottom: 30px;
}

#new-post{
  width: 100%;
}

#errorUl li{
  list-style-type: none;
  color: rgb(226, 24, 24);
}
#succesUl li{
  list-style-type: none;
  color: rgb(14, 247, 37);
}

/*------------------------Nav------------------------------*/

nav{

  width:100%;
  height:70px;
  top: 0%;
}
.nav-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.m-b-md {
    margin-bottom: 30px;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes color {
   0%   {background-color: magenta;}
   25%  {background-color: #00ff4f;}
   50%  {background-color: cyan;}
   100% {background-color: magenta;}

}


  .nav-nav ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .nav-nav li {
    padding: 5px 5px;
    list-style-type: none;
  }
  .nav-nav li a, .nav-nav li {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
  }
